<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Calci Home</title>
	</head>
	<body>
		<form action="calc">
			<label>Num 1 :</label>
			<input type = "number" name="num1">
			<br><br>
			<label>Num 2 :</label>
			<input type = "number" name="num2">
			<br><br>
			<button type="submit" name="operation" value="add">ADD</button>
			<br><br>
			<button type="submit" name="operation" value="sub">SUB</button>
			<br><br>
			<button type="submit" name="operation" value="mul">MUL</button>
			<br><br>
			<button type="submit" name="operation" value="div">DIV</button>
			<br><br>
		</form>
		
	</body>
</html>